#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main__container{
  margin-top: 5%;
  display: flex;
}

@media (max-width: 835px){
  .main__container{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 378px){
  body{
    margin: 8px;
  }
  .main__container{
    margin: 0;
  }
}