.portafolio_items_container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}


@media (max-width: 654px){
    .portafolio_items_container{
        flex-direction: column;
    }
}